*.tga
*.bak
*.o
*.jpg
*.d
*.hmap
*.dia
*.dat

mac/GDS3D.app.dSYM/Contents/Info.plist

mac/GDS3D.app.dSYM/Contents/Resources/DWARF/GDS3D

mac/GDS3D.build/Debug/GDS3D.build/dgph

mac/GDS3D.build/Debug/GDS3D.build/dgph~

mac/GDS3D.build/Debug/GDS3D.build/Objects-normal/x86_64/GDS3D.LinkFileList

mac/GDS3D.xcodeproj/project.xcworkspace/xcuserdata/bpigeard.xcuserdatad/UserInterfaceState.xcuserstate

mac/GDS3D.xcodeproj/project.xcworkspace/xcuserdata/bpigeard.xcuserdatad/WorkspaceSettings.xcsettings

mac/GDS3D.xcodeproj/xcuserdata/bpigeard.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

mac/GDS3D.xcodeproj/xcuserdata/bpigeard.xcuserdatad/xcschemes/xcschememanagement.plist
